{% extends 'base.html' %}

{% block title %}Reset password{% endblock %}

{% block contents %}
<div class="container">
  <div class="row">
    <div class="col py-4">
      <hr>
      <h3>Do you reset password?</h3>
      <p>Enter your registered email address.
      An email with a password liset link will be sent immediately.</p>
      <br>
      <form action="" method="post" class="text-center">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="receive email" /><br>
      </form>
      <br>
      <a href="{% url 'page:index' %}">My Portal</a>
      <hr>
    </div>
  </div>
</div>
{% endblock %}
