<!Doctype html>
<html lang="ja">
<head>
  <style>
    .pad {
      backgroud-color: lavender;
      border: solid 2px;
      padding-top: 30px;
      padding-bottom: 50px;
      padding-left: 100px;
      margin-top: 50px;
      margin-right: 70px;
      margin-left: 70px;
    }
  </style>
</head>
<body>
  <div class="pad">
    <h2>My Portal</h2>
    <h4>Input a new password twice to confirm the correct input.</h4>
    <br />
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Password Reset" />
    </form>
  </div>
</body>
</html>
